# 파이썬 키워드

In [1]:
import keyword

In [3]:
len(keyword.kwlist)

35

In [7]:
keyword.iskeyword('True')  #True, False는 대문자

True

# 조건문

In [12]:
size = 'M'
if size == 'S':
    #length = 68.0
    #width = 52.0
    length, width = 68.0, 52.0
elif size == 'M':
    length, width = 70.0, 54.5
else:
    length, width = 72.0, 57.0

print('길이 = ', length, '너비 = ', width)

길이 =  70.0 너비 =  54.5

# Magic Commands

## Line Magics

In [13]:
%whos #모든 객체의 정보 보기

Variable   Type      Data/Info
------------------------------
keyword    module    <module 'keyword' from 'C<...>conda3\\lib\\keyword.py'>
length     float     70.0
size       str       M
width      float     54.5

In [20]:
%xdel size    #특정 객체 삭제

NameError: name 'size' is not defined

In [16]:
%whos

Variable   Type      Data/Info
------------------------------
keyword    module    <module 'keyword' from 'C<...>conda3\\lib\\keyword.py'>
length     float     70.0
width      float     54.5

In [17]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [18]:
%whos

Interactive namespace is empty.

## Cell Magics

In [25]:
%%writefile tsize.py
if __name__ == '__main__':
    size = 'L'
    if size == 'S':
        #length = 68.0
        #width = 52.0
        length, width = 68.0, 52.0
    elif size == 'M':
        length, width = 70.0, 54.5
    else:
        length, width = 72.0, 57.0

    print('길이 = ', length, '너비 = ', width)

Overwriting tsize.py

In [26]:
%run tsize.py

길이 =  72.0 너비 =  57.0

# 반복문

In [29]:
n = 9973
i = 2
while i < n:
    if n % i == 0:
        break
    i += 1
if i == n:  #2~(n-1)로 나누어 떨어지는 i가 없다.
    print('소수!')
else:
    print('소수가 아님!')

소수!

In [32]:
my_list = [4, 2, 5, 7, 3]  #리스트
sum = 0
for x in my_list:
    sum += x
print(sum)

21

In [38]:
for x in range(1, 10, 2):
    print(x, end = ' ')

1 3 5 7 9

In [42]:
for x in range(2, 5):
    print(x, end = ' ')

2 3 4

In [43]:
for x in range(5):
    print(x, end = ' ')

0 1 2 3 4

In [44]:
for x in range(1, -5, -1):
    print(x, end = ' ')

1 0 -1 -2 -3 -4

In [1]:
for _ in range(5):
    print('Hello')

Hello
Hello
Hello
Hello
Hello

# 함수

In [2]:
def square(x):
    return x * x

In [3]:
square(3)

9

In [4]:
def abs(x):
    if x < 0:
        return -x
    else:
        return x

In [6]:
abs(-5.6)

5.6

In [7]:
def min_max(a, b):
    if a < b:
        return a, b
    else:
        return b, a

In [9]:
min, max = min_max(300, 200)
print('min = ', min, 'max = ', max)

min =  200 max =  300

In [25]:
def sum_to_n(n):
    """
    n까지의 자연수의 합을 반환하는 함수
    n이 정수가 아니면 TypeError 발생
    n이 음수이면 ValueError 발생
    """
    if type(n) is not int:
        raise TypeError('n은 정수여야 함.')
    if n <  0:
        raise ValueError('n은 0보다 커야 함.')
    sum = 0
    for i in range(n+1):
        sum += i
    return sum

In [15]:
sum_to_n(10)

55

In [16]:
sum_to_n?

In [17]:
sum_to_n??

In [21]:
sum_to_n(5.5)

TypeError: n은 정수여야 함.

In [24]:
sum_to_n(-5)

ValueError: n은 0보다 커야 함.

In [42]:
def sum_f(a, f = lambda x: x):
    """
    시퀀스 a의 각 원소에 함수 f를 취한 값의 합
    
    파라미터
    --------
    a : sequence
    f : function, default: 항등함수
    """
    sum = 0
    for v in a:
        sum += f(v)
    return sum

In [31]:
def sq(x): return x * x

In [33]:
my_list = [5, 2, 4]
sum_f(my_list, sq)

45

In [35]:
import math

In [36]:
sum_f(my_list, math.sqrt)

5.650281539872885

In [40]:
sum_f(my_list, lambda x: x * x)

45

In [41]:
sum_f(my_list, lambda x: x % 2)

1

In [43]:
sum_f(my_list)

11

In [44]:
s = ['tiger', 'giraffe', 'cat', 'dog']

In [45]:
s.sort()

In [46]:
s

['cat', 'dog', 'giraffe', 'tiger']

In [47]:
s.sort(key=lambda x: len(x))

In [48]:
s

['cat', 'dog', 'tiger', 'giraffe']

# 파이썬 자료구조

In [50]:
lst = [5, 2, 7, 9, 8, 2]

In [51]:
type(lst)

list

In [53]:
lst.append(100)

In [54]:
lst.sort()

In [55]:
lst

[2, 2, 5, 7, 8, 9, 100]

In [56]:
lst = [4, 2, 6, 1]

In [57]:
sorted(lst)

[1, 2, 4, 6]

In [58]:
lst

[4, 2, 6, 1]

In [59]:
a = sorted(lst)

In [60]:
a

[1, 2, 4, 6]

In [61]:
lst

[4, 2, 6, 1]

In [64]:
lst.sort?

In [65]:
lst.sort(reverse=True)

In [66]:
lst

[6, 4, 2, 1]

In [67]:
seq = [5, 2, 5, 3, 4, 7, 8]

In [68]:
seq[2:4]

[5, 3]

In [69]:
seq[:3]

[5, 2, 5]

In [70]:
seq[3:]

[3, 4, 7, 8]

In [71]:
m = [[1, 2, 3], [4, 5, 6]]

In [72]:
m

[[1, 2, 3], [4, 5, 6]]

In [73]:
m[0][1]

2

In [74]:
m[0]

[1, 2, 3]

In [75]:
t = (4, 5, 6)

In [76]:
type(t)

tuple

In [77]:
a, b, c = t

In [78]:
a

4

In [83]:
a, *_ = t

In [84]:
a

4

In [86]:
lst = [5, 2, 8, 9, 6]

In [88]:
for i, x in enumerate(lst):
    print(i, x)

0 5
1 2
2 8
3 9
4 6

In [93]:
x = [2, 4, 6, 8]; y = [100, 200, 300]

In [94]:
for a, b, in zip(x, y):
    print(a, b)

2 100
4 200
6 300

In [98]:
d = {'한국':'서울', '일본':'동경', '중국':'북경'}

In [99]:
type(d)

dict

In [101]:
d['중국']

'북경'

In [102]:
d['한국']

'서울'

In [104]:
d['프랑스'] = '파리'

In [106]:
d

{'한국': '서울', '일본': '동경', '중국': '북경', '프랑스': '파리'}

In [107]:
del d['일본']

In [108]:
d

{'한국': '서울', '중국': '북경', '프랑스': '파리'}

In [109]:
d.keys()

dict_keys(['한국', '중국', '프랑스'])

In [110]:
d.values()

dict_values(['서울', '북경', '파리'])

In [111]:
d.items()

dict_items([('한국', '서울'), ('중국', '북경'), ('프랑스', '파리')])

In [112]:
d['한국'] = 'Seoul'

In [113]:
d

{'한국': 'Seoul', '중국': '북경', '프랑스': '파리'}

In [114]:
s1 = {1, 2, 3, 3}

In [115]:
s1

{1, 2, 3}

In [116]:
s2 = {2, 3, 4}

In [117]:
s1.union(s2)

{1, 2, 3, 4}

In [118]:
s1.intersection(s2)

{2, 3}

In [126]:
x = [a for a in range(5) if a % 2 == 0]

In [127]:
x

[0, 2, 4]

In [128]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [129]:
def squares(n=10):
    for i in range(1, n + 1):
        yield i ** 2

In [130]:
squares(5)

In [133]:
for x in squares(5):
    print(x)

1
4
9
16
25