# Pandas

In [1]:
import pandas as pd

In [2]:
import numpy as np

## Series 객체

In [9]:
s1 = pd.Series([45, 28, 99, 20], index=['a1', 'b1', 'a2', 'b2'])

In [10]:
type(s1)

pandas.core.series.Series

In [11]:
s1[2]

99

In [12]:
s1

a1    45
b1    28
a2    99
b2    20
dtype: int64

In [19]:
np.random.seed(1)
s2 = pd.Series(np.random.randint(1, 7, 20))

In [20]:
s2

0     6
1     4
2     5
3     1
4     2
5     4
6     6
7     1
8     1
9     2
10    5
11    6
12    5
13    2
14    3
15    5
16    6
17    3
18    5
19    4
dtype: int32

In [22]:
counts = s2.value_counts()

In [23]:
counts

5    5
6    4
1    3
2    3
4    3
3    2
dtype: int64

In [24]:
counts.sort_index() # index 정렬

1    3
2    3
3    2
4    3
5    5
6    4
dtype: int64

In [25]:
counts.sort_values()

3    2
1    3
2    3
4    3
6    4
5    5
dtype: int64

## DataFrame

In [27]:
np.random.seed(100)
scores = pd.DataFrame(np.random.randint(100, size=(5, 2)),
                     columns = ['mid', 'final'], index = [1, 3, 9, 6, 5])

In [28]:
scores

   mid  final
1    8     24
3   67     87
9   79     48
6   10     94
5   52     98

In [29]:
scores.index

Int64Index([1, 3, 9, 6, 5], dtype='int64')

In [30]:
scores.columns

Index(['mid', 'final'], dtype='object')

In [33]:
scores.values

array([[ 8, 24],
       [67, 87],
       [79, 48],
       [10, 94],
       [52, 98]])

In [34]:
type(scores.values)

numpy.ndarray

In [35]:
%ls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: A839-0D04

 C:\Users\hyunsu\Documents\BigDataAnalysis 디렉터리

2021-10-06  오후 03:13    <DIR>          .
2021-10-06  오후 03:13    <DIR>          ..
2021-10-06  오후 02:33    <DIR>          .ipynb_checkpoints
2021-09-15  오후 03:40             5,758 2021-09-15(주피터 기초 사용법 실습).ipynb
2021-09-22  오후 02:09            34,600 2021-09-21 추석 보강 파이썬 기초.ipynb
2021-09-27  오후 03:33             2,893 2021-09-27 클래스 수업 실습.ipynb
2021-10-05  오후 03:04            39,420 2021-09-29 numpy.ipynb
2021-10-06  오후 03:00             8,720 2021-10-06 Pandas.ipynb
2021-10-06  오후 03:09            23,873 diabetes.csv
2021-10-02  오전 02:19             7,589 HW1_201858036_박현수.ipynb
2021-10-02  오전 12:45            10,421 mystery.py
2021-10-06  오후 03:09            25,585 ThoraricSurgery.csv
2021-10-06  오후 03:09            61,192 titanic.csv
2021-09-21  오후 11:57               308 tsize.py
              11개 파일             220,359 바이트
               3개 디렉터리  169,041,055,744 바이트 남음

In [36]:
df = pd.read_csv('diabetes.csv')

In [37]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [38]:
df.ndim

2

In [39]:
df.shape

(768, 9)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [42]:
df.describe() # 반환하는 객체도 DafaFrame

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [43]:
df.head(3)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1

In [44]:
df.tail(3)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [46]:
df['Age']

0      50
1      31
2      32
3      21
4      33
       ..
763    63
764    27
765    30
766    47
767    23
Name: Age, Length: 768, dtype: int64

In [47]:
type(df['Age'])

pandas.core.series.Series

In [48]:
df.Age

0      50
1      31
2      32
3      21
4      33
       ..
763    63
764    27
765    30
766    47
767    23
Name: Age, Length: 768, dtype: int64

In [49]:
scores

   mid  final
1    8     24
3   67     87
9   79     48
6   10     94
5   52     98

In [50]:
scores.iloc[0, 0]

8

In [51]:
scores.iloc[1:3, 1:]

   final
3     87
9     48

In [52]:
scores.loc[:, 'mid']

1     8
3    67
9    79
6    10
5    52
Name: mid, dtype: int32

In [53]:
scores.loc[:, 'mid':]

   mid  final
1    8     24
3   67     87
9   79     48
6   10     94
5   52     98

In [55]:
scores.loc[:9, :]

   mid  final
1    8     24
3   67     87
9   79     48

In [56]:
scores

   mid  final
1    8     24
3   67     87
9   79     48
6   10     94
5   52     98

In [57]:
scores[scores.mid > 50]

   mid  final
3   67     87
9   79     48
5   52     98

In [58]:
scores['total'] = scores.mid + scores.final

In [59]:
scores

   mid  final  total
1    8     24     32
3   67     87    154
9   79     48    127
6   10     94    104
5   52     98    150

In [62]:
del scores['total']

In [63]:
scores

   mid  final
1    8     24
3   67     87
9   79     48
6   10     94
5   52     98

In [67]:
new_scores = scores.drop([9, 1])

In [68]:
new_scores

   mid  final
3   67     87
6   10     94
5   52     98

In [76]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [77]:
df.mean()

Pregnancies                   3.845052
Glucose                     120.894531
BloodPressure                69.105469
SkinThickness                20.536458
Insulin                      79.799479
BMI                          31.992578
DiabetesPedigreeFunction      0.471876
Age                          33.240885
Outcome                       0.348958
dtype: float64

In [78]:
df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164